body {
    background-color: rgb(218, 187, 150);
    font-family: 'Segoe UI', Verdana, sans-serif;
    text-align: center;
    margin: 0;
}

/* title section */
#title-section {
    background-color: rgb(207, 166, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    font-size: 26px;
}

#title-section h1 {
    margin: 20px 0;
    -webkit-text-stroke: 3px black;
}

.blue-color {
    color: #1874dd;
}

.red-color {
    color: #f14d0c;
}

.green-color {
    color: rgb(16, 151, 23)
}

/* FOOTER SECTION */
#footer-section {
    background-color: rgb(207, 166, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    margin-top: 20px;
}

.fa-github {
    color: #000;
    font-size: 24px;
}

.fa-github:hover {
    color: #FFFFFF;
}